backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
certifi==2015.11.20.1
docutils==0.12
lockfile==0.12.2
luigi==2.0.1
python-daemon==2.1.0
python-dateutil==2.4.2
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
wheel==0.24.0
